/* Gaya Umum */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
    overflow: hidden; /* Untuk menghindari konten keluar dari batas */
}

header h1 {
    margin: 0;
    animation: moveText 10s linear infinite; /* Animasi untuk h1 */
}

/* Animasi untuk h1 */
@keyframes moveText {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #FFD700;
}

footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Gaya Kursus */
.courses {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
}

.course {
    background-color: white;
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.course:hover {
    transform: scale(1.05);
}

.course img {
    max-width: 100px;
    margin-bottom: 100px;
}

.course h2 {
    color: #333;
}

.course p {
    color: #666;
    text-align: justify; /* Menambahkan justifikasi untuk paragraf */
}

/* Layout Responsif */
@media (max-width: 768px) {
    .courses {
        flex-direction: column;
        align-items: center;
    }

    .course {
        width: 80%;
        margin-bottom: 20px;
    }
}
